<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cursos</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body style="background-color: #000;">
  <header>
    <h1 style="color: #fff;">Tk`s Cursos</h1>
    <p style="color: #fff;">Gerencie os clientes e cadastre novos clientes</p>
  </header>
  <main>
    <div class="cursos">
      <div class="curso">
        <img src="static/images/59-imagens-de-destaque_cursos-gratuitos.png" alt="Curso 1">
        <h2 style="color: #fff;">Clientes</h2>
        <p style="color: #fff;">Acompanhe os clientes</p>
        <a href="/clientes" style="color: green;">Acesse</a>
      </div>
      <div class="curso">
        <img src="static/images/cursos-devmedia-facebook.jpg" alt="Curso 2">
        <h2 style="color: #fff;">Cadastrar cliente</h2>
        <p style="color: #fff;">Acesse o cadastro</p>
        <a href="/cadastra_cliente" style="color: green;">Acesse</a>
    </div>
  </main>
  <footer>
    <p style="color: #fff;">Copyright © 2023</p>
  </footer>
</body>
</html>
